[Unit]
Description=reversed companion backend server
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/usr/local/reversed/backend
Environment="PATH=/usr/bin"
ExecStart=/usr/bin/python3 app/main.py

[Install]
WantedBy=multi-user.target
