[Unit]
Description=reversed companion serial reader
After=network.target redis.service

[Service]
User=hummingbird
Group=www-data
WorkingDirectory=/srv/reversed/serial-reader
Environment="PATH=/usr/bin"
Restart=always
ExecStart=/usr/bin/python3 app/main.py

[Install]
WantedBy=multi-user.target
