Package: reversed-companion
Version: 0.2-5
Section: utils
Priority: required
Essential: yes
Architecture: all
Pre-Depends: python3-dev (>= 3.7), python3-pip (>= 18.1), python3-setuptools (>= 40.8), redis (>= 5), nginx (>=1.10)
Depends: python3 (>= 3.7)
Maintainer: Martin Wudenka <Martin.Wudenka@gmx.de>
Description: This is the reversed companion 
 computer package. Including frontend, backend
 and serial reader.
